body{

    background-image: url(/Carpeta\ Restaurante\ Web/Imagenes/pizza.jpg);
    background-size: 90%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    font-family: Roboto;

}
header.cabeceraMain{
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

a.refs{

    padding: 30px;

}


table.table{
    color:white;
    margin-left: 50px;
    margin-top: 30px;
    
    
}

div.cat{

    min-width: 0;

}


