body{

    background-image: url(/Imagenes/pizza.jpg);
    background-size: 90%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    font-family: Roboto;

}

header.cabeceraMain{
    text-align: center;

    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    
    
}
a.refs{

    padding: 30px;

}

h1.presentation{
    padding-top: 80px;
    color:white;
    text-align: center;
}
img.img1{

    height:250px;
    padding-left: 200px;
    
    
}
img.img2{

    height:250px;
    padding-left: 70px;
    
    

}