*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: white;
    font-family: 'calibri';
}

header{
    background: url(../Images/bg.jpg);
    height: 1000px;
    background-size: cover;
    background-repeat: no-repeat;
}

section{
    min-width: 1000px;
    margin: auto;
    padding: 20px;
}

section h1{
    font-size: 100px;
    text-align: center;
    color: black;
}

.Inicio{
    text-align: center;
}

.Inicio p{
    font-size: 50px;
    font-weight: bold;
    margin: 1em 0;
    color: black;
    background-color: whitesmoke;
}

.Inicio a{
    color: White;
    text-decoration: none;
    background-color:orangered;
    padding: 4px 20px;
    border-radius: 25px;
    font-size: 25px;
    margin: 10px;
}

.Inicio a:hover {
    cursor: pointer;
    color:Black;
  }